<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="flex-container">
            {{>header}}
            <img src="/img/download (2).png">
            {{>footer}}
        </div>
        
    </body>
</html>